/* Logo Picture */
.service{
    width: 176px;
    margin-bottom: 16px
}



.nav-link{
    margin-left: 90px;
}

.dropdown-toggle{
    cursor: pointer;
}

.btn-success{
    margin-left: 300px;
    cursor: pointer;
}

.dropdown-item{
    cursor: pointer;
}