<div class="row">
  <div class="col-md-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Burger's</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Crisp's</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Pasta</a>
        </div>
       
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let p of products$ |async ; let i = index">
      <div class="col-3">
        <div  class="card" style="width: 15rem;">
          <img class="card-img-top" src="{{p.imageurl}}">
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text">{{p.price | currency:'EGP'}}</p>
            <a href="#" class="btn btn-info">Add to cart</a>
          </div>
         
        </div>
      </div>
      
    </ng-container>
  </div>
    
  
</div>
  


  
