<div class="row">
  <div class="col-md-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" routerLink="/" role="tab" aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" routerLink="/Pizza-Pan" role="tab" aria-controls="home">Pizza Pan</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" routerLink="/Maxs" role="tab" aria-controls="profile">Max's</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" routerLink="/Chickers" role="tab" aria-controls="messages">Chicker's</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" routerLink="/C-la ve" role="tab" aria-controls="settings">C'est la ve</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" routerLink="/pizza-express" role="tab" aria-controls="messages">Pizza Express</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" routerLink="/Rove" role="tab" aria-controls="messages">Rove</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" routerLink="/KFC" role="tab" aria-controls="messages">KFC</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
  </div>
  <div class="col-md-3">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/pizza-pan.jpg">
        <div class="card-body">
          <h4 class="card-title">Pizza Pan</h4>
          <p class="card-text">This resturant make piazza , Crisp's , pasta and many other things</p>
          <p class="card-text"><b>Address: </b> Ebrahim-Elmoghazi Street , Kafr-Elsheikh </p>
          <h6>Order will deliver after 20 min</h6>
        </div>
        <a routerLink="/Pizza-Pan" class="btn btn-primary">Go To Pizza-pan</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-deck popular">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/max's.jpg" >
        <div class="card-body">
          <h4 class="card-title">Max's</h4>
          <p class="card-text">This resturant make fride chicken ,potatos , burger and more </p>
          <p class="card-text"><b>Address: </b> Elnabawy Street , Kafr-Elsheikh</p>
          <h6>Order will deliver after 20 min</h6>
        </div>
        <a routerLink="/Maxs" class="btn btn-primary">Go To Max's</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/chicker's.png">
        <div class="card-body">
          <h4 class="card-title">Chicker's</h4>
          <p class="card-text">This resturant make fride chicken and many other things</p>
          <p class="card-text"><b>Address: </b> 47 Street , Kafr-Elsheikh</p>
           <h6>Order will deliver after 20 min</h6>
        </div>
        <a routerLink="/Chickers" class="btn btn-primary">Go To Chicker's</a>
      </div>
    </div>
  
  </div>

  
</div>

<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-3">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/ce lavie.jpg">
        <div class="card-body">
          <h4 class="card-title">C'EST La Ve</h4>
          <p class="card-text">This resturant make piazza , Crisp's , pasta and many other things</p>
          <p class="card-text"><b>Address: </b> Army Street , Kafr-Elsheikh </p>
          <h6>Order will deliver after 20 min</h6>
        </div>
        <a routerLink="/C-la ve" class="btn btn-primary">Go To C'est-La ve</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/pizza express.png">
        <div class="card-body">
          <h4 class="card-title">Pizza Express</h4>
          <p class="card-text">This resturant make piazza , Crisp's , pasta and many other things</p>
          <p class="card-text"><b>Address: </b> beside Kafr Elshikh Stadium  , Kafr-Elsheikh </p>
          <h6>Order will deliver after 20 min</h6>
        </div>
        <a routerLink="/pizza-express" class="btn btn-primary">Go To Pizza-Express</a>
      </div>
    </div>
  </div> <div class="col-md-3">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/Rove.jpg">
        <div class="card-body">
          <h4 class="card-title">Rove</h4>
          <p class="card-text">This resturant make piazza , Crisp's , pasta and many other things</p>
          <p class="card-text"><b>Address: </b> Engineers Syndicate Building, , Kafr-Elsheikh </p>
          <h6>Order will deliver after 20 min</h6>
        </div>
        <a routerLink="/Rove" class="btn btn-primary">Go To Rove</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/img/kfc.jpeg">
          <div class="card-body">
            <h4 class="card-title">KFC</h4>
            <p class="card-text">This resturant make piazza , Crisp's , pasta and many other things</p>
            <p class="card-text"><b>Address: </b>Park Entrance Sanaa, Kafr el Sheikh </p>
            <h6>Order will deliver after 20 min</h6>
          </div>
          <a routerLink="/KFC" class="btn btn-primary">Go To KFC</a>
        </div>
      </div>
  </div>
</div>